# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Configuration
node_modules
*.local
pnpm-lock.yaml

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gitignore
.prettierrc
LICENSE
README.md
screenshot.*
Dockerfile

# The compiled binary
mini-mail-dev*

# Other directories we don't need for a docker build
/.vscode
/dist
/test
